{% extends 'template_ecommerce/base.html'%}
{% load static%}

{% block content%}
<!--  contact -->
<div class="contact">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
            <h2>Contact Now</h2>
            </div>
        </div>
        </div>

       <!--  <form action='/template_ecommerce/formulario' method='POST'> -->
         
    
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <form action='/template_ecommerce/formulario' method='POST' id="request" class="main_form">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 ">
                        <input class="contactus" placeholder="Name" type="type" name="name">
                        </div>
                        <div class="col-md-12 ">
                            <input class="contactus" placeholder="Last name" type="type" name="lasname">
                        </div>
                        <div class="col-md-12">
                        <input class="contactus" placeholder="Email" type="type" name="email">
                        </div>
                        <div class="col-md-12">
                        <input class="contactus" placeholder="Phone Number" type="type" name="phone">
                        </div>
                        <div class="col-md-12">
                        <textarea class="textarea" placeholder="Message" type="type" name='messege' Message="Name"> </textarea>
                        </div>
                        <div class="col-md-12">
                        <button class="send_btn">Send</button>
                        </div>
                    </div>
                    </form>
                </div>
                </div> 

            </form>
        </div>
    </div>
{% endblock %}
